.about{

min-height:100vh;

background:black;

display:flex;

justify-content:center;

align-items:center;

gap:80px;

padding:80px;

font-family:Calibri,sans-serif;

color:white;

}



/* LEFT */

.about-left{

width:50%;

}



.about-left h2{

color:#c084fc;

font-size:35px;

margin-bottom:20px;

}



.about-left p{

font-size:18px;

line-height:1.6;

}





/* RIGHT */

.about-right{

width:30%;

display:flex;

flex-direction:column;

gap:15px;

}




.about-card{


padding:15px 25px;

border:1px solid #c084fc;

border-radius:30px;

text-align:center;

color:white;

font-size:17px;

transition:0.3s;


}



.about-card:hover{


box-shadow:0 0 15px #c084fc;


} 
.status-title{

color:#c084fc;

font-family:Calibri,sans-serif;

font-size:35px;

text-align:center;

margin-bottom:15px;

}