.contact{

padding:90px 10%;
background:#000;
color:white;

}


.contact h2{

text-align:left;
font-size:38px;
color:#c084fc;
margin-bottom:50px;

}


.contact-wrapper{

display:flex;
justify-content:center;
align-items:flex-start;
gap:80px;

}



/* LEFT DETAILS */


.profile-contact{

width:350px;

text-align:center;

}



.profile-contact img{

width:180px;

height:180px;

border-radius:50%;

object-fit:cover;

border:4px solid #c084fc;

}



.profile-contact h3{

font-size:32px;

color:#c084fc;

margin-top:20px;

}



.profile-contact h4{

font-size:18px;

}



.profile-contact p{

color:#ddd;

font-size:16px;

line-height:1.8;

}



/* ICONS */


.social-icons{

display:flex;

justify-content:center;

gap:25px;

margin-top:25px;

}



.social-icons a{

font-size:35px;

color:#c084fc;

transition:.3s;

}



.social-icons a:hover{

color:white;

transform:translateY(-5px);

}






/* RIGHT MESSAGE */


.contact-box{


width:500px;

background:#111;

padding:35px;

border-radius:25px;

border:2px solid #8e44ad;

text-align:left;


}




.contact-box h3{

font-size:28px;

color:#c084fc;

text-align:left;

margin-bottom:15px;

}




.contact-box p{

color:#ddd;

line-height:1.7;

text-align:left;

}





form{

display:flex;

flex-direction:column;

gap:18px;

margin-top:25px;

}




input,
textarea{


background:#000;

color:white;

border:1px solid #c084fc;

padding:15px;

border-radius:10px;

font-size:15px;

width:100%;

box-sizing:border-box;

}




textarea{

height:130px;

resize:none;

}





button{


background:#8e44ad;

color:white;

border:none;

padding:15px;

border-radius:30px;

font-size:17px;

cursor:pointer;


}




button:hover{

background:#c084fc;

color:black;

}




.secure{

font-size:13px!important;

color:#aaa!important;

text-align:center!important;

}




@media(max-width:900px){


.contact-wrapper{

flex-direction:column;

align-items:center;

}


.contact-box{

width:100%;

}


}